<% provide(:title, '| About') %>
<h1 class="center lead title">About</h1>
<hr>
<p class="lead">My name is Bryan. I am a systems administrator, database programmer, and mountain biker. I now live in Portland, OR.</p>
<p><em>I have had 5 bikes stolen in 9 years - plus a handful of beater bikes.</em></p>
<p>I hate idiots who steal other peoples' bikes.</p>
<p>I hated the fact that the world lacked an online resource to register and search for stolen bikes. So I built one.</p>
<p>I decided that the world needed a free, well-organized stolen bike registry. Something that biking enthusiasts, bike shops, police, and theft victims could all use with minumim hassle.
So I hacked together a modern, searchable database...
<h4>This is it.</h4></p>
