<% provide(:title, '| FAQ') %>
<div class="container">
  <h1 class="center lead title">FAQ</h1>
  <hr>

<p class="list-title lead"> Can I register my bike BEFORE it gets stolen?</p>

<p> Not yet. Right now I'd like to keep the focus on bikes that are known to be stolen. Some time in the future (perhaps when I land a grant?) I'd like to have pre-theft registration worked into the site, but for now it creates more problems than it solves.</p>

<p class="list-title lead"> You're in Portland, OR. How does the SBR help people in (INSERT YOUR CITY NAME HERE)?</p>

<p> It is true that a lot of my work now is taking place in Portland, since I'm making good contacts here, but this site is designed to cover all of the U.S. - and now Canada! Since listings are broken down by state, city, and zipcode, the database doesn't really care if you're in New York or Alaska. The SBR wants to act as a clearinghouse, and let any local-level efforts/coalitions/angry mobs use it for their own purposes, since they'll know what will work for their community the best.</p>

<p class="list-title lead"> Where the heck are serial numbers located on a bike?</p>

<p> Most bikes have the serial number stamped into the frame just below the crankshaft - see this diagram. If the bicycle is standing upright, as it normally does, the serial will be 'facing down' at the pavement - so you'll probably have to flip the bike over to read it.</p>

<p>However: Some manufacturers put serial numbers on the head tubes, or they stamp both a serial number and model number on the bike, adding to the confusion. If you bought the bike from a shop, check the recipt - some shops are including bike serials on their recipts as an extra identification measure.</p>

<p>The University of Texas At Austin has an excellent online guide to locating your bike's serial number found here.</p>

<p class="list-title lead"> How do you intend to make money on this site?</p>

<p> I don't. Seriously. The web hosting is cheap, and it only takes about 5 minutes out of my day to check new signups and approve new listings, so it isn't like I'm going broke from this effort. I just want to help people recover their stolen bikes.<p>

<p>If for some reason I start incurring a bunch of hosting fees or it ends up eating up too much time, I'll sign a few volunteers up to help me manage the signups, or get a sponsor. But right now it isn't about money.</p>

<p>If you'd like to donate a few bucks and help defray the costs, however, that would be great. Better yet - buy a sticker and help support the SBR! Or you can click the 'Buy Now' button here to send me a straight-up donation.</p>

<p class="list-title lead"> Do you accept donations?</p>

<p>YES! You can paypal any donation amount you want to send to: bhance@gmail.com - please put "StolenBicycleRegistry.com" in the memo.</p>

<p>All donations go right back into the site, be it via hosting fees, sticker production, or time spent to update the code and website.</p>

<p class="list-title lead"> I've got a great idea, why don't you (GREAT IDEA HERE)</p>

<p> I, too have some great ideas for this site. In fact, there are two major portions that aren't 'live' yet that I think will make people say 'Wow, that's a cool idea.' Right now I'm in the advertising and PR phase, so when I have a critical mass of bikes registered I'll flip the switch.
But I'd also love to hear your idea!</p>
</div>