<div class="home-info">
  <p>Maybe you just had your bike stolen.</p>

  <p>Maybe you're buying a used bike and want to run its serial number first.</p>

  <p>Maybe you work for a bike shop and want to know if that trade-in is hot.</p>

  <p>stolenbicycleregistry.com is a free resource to register and track stolen bicycles. It is run by tech-savvy people who love their bikes and hate the people who steal them.</p>
</div>

<div class="twitter-box">
  <p>Stolen bike listings are automatically tweeted in these cities:</p>

  <ul class="twitter-list">
    <li><a href="https://twitter.com/stolenbikesbrk" class="twitter-link" target="_blank">Berkeley</a></li>
    <li><a href="https://twitter.com/stolenbikeschi" class="twitter-link" target="_blank">Chicago</a></li>
    <li><a href="https://twitter.com/stolenbikesmarin" class="twitter-link" target="_blank">Marin County</a></li>
    <li><a href="https://twitter.com/stolenbikesphl" class="twitter-link" target="_blank">Philadelphia</a></li>
    <li><a href="https://twitter.com/stolenbikessan" class="twitter-link" target="_blank">San Diego</a></li>
    <li><a href="https://twitter.com/stolenbikessfo" class="twitter-link" target="_blank">San Francisco</a></li>
    <li><a href="https://twitter.com/stolenbikessea" class="twitter-link" target="_blank">Seattle</a></li>
    <li><a href="https://twitter.com/stolenbikestuc" class="twitter-link" target="_blank">Tuscon</a></li>
  </ul>

  <p>Please follow and retweet!</p>

</div>