<% provide(:title, '| Twitter') %>
<div class="container">
  <div class="sign-in">
    <h1 class="twitter-header lead title center"> SBR Twitter Feeds </h1>
    <hr>
    <p class="lead center">If you're on Twitter and in one of these cities, please follow and retweet!</p>
  </div>
  <div class="row">
    <div class="twitter-links-page lead col-md-2 well col-md-offset-3">
      <h5>Regional Twitters</h5>
       <p class="twitter-links-page"><a href="https://twitter.com/stolenbikesbrk" target="_blank">Berkeley</a></p>
       <p><a href="https://twitter.com/stolenbikeschi" target="_blank">Chicago</a></p>
       <p><a href="https://twitter.com/stolenbikemarin" target="_blank">Marin County</a></p>
       <p><a href="https://twitter.com/stolenbikesphl" target="_blank">Philadelphia</a></p>
       <p><a href="https://twitter.com/stolenbikessan" target="_blank">San Diego</a></p>
       <p><a href="https://twitter.com/stolenbikessfo" target="_blank">San Francisco</a></p>
       <p><a href="https://twitter.com/stolenbikessea" target="_blank">Seattle</a></p>
       <p><a href="https://twitter.com/stolenbikestuc" target="_blank">Tucson</a></p>
    </div>
    <div class="col-md-4">
      <a class="twitter-timeline" href="https://twitter.com/stolenbikereg" data-widget-id="393137451402686464">Tweets by @stolenbikereg</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
