<h1>Users#show</h1>
<ul><% @user.bicycles.each do |bicycle| %>
  <li><%= bicycle.date %>
  <li><%= bicycle.description %></li>
  <li><%= image_tag bicycle.photo.url :thumbnail %></li>
  <li><%= link_to 'Edit listing', edit_bicycle_path(bicycle) %></li>
  <% end %>
</ul>


