<div id='bicycle-ca-provinces'>
  <%= f.label :region, 'Province' %>
  <%= f.select :region, Geography::PROVINCES, :include_blank => '--' %>
</div>
<div id='bicycle-ca-postal'>
  <%= f.label :postal_code, 'Postal/Zip Code' %>
  <%= f.text_field :postal_code, placeholder: 'Zip/Postal Code' %>
</div>
