<% unless Rails.env.test? %>
  <div class="google-ad">
    <script type="text/javascript"><!--
      google_ad_client = "pub-8815800758382772";
      /* 468x60, created 11/23/08 */
      google_ad_slot = "8923588004";
      google_ad_width = 468;
      google_ad_height = 60;
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
<% end %>
