<div id='bicycle-us-states'>
  <%= f.select :region, Geography::STATES, :include_blank => 'Select State'%>
</div>
<div class="input-group" id='bicycle-us-zip'>
  <span class="input-group-addon label-info">Zip Code</span>
  <%= f.text_field :postal_code, placeholder: 'Zip Code', class: "form-control" %>
</div>
