<div id='bicycle-us-states' class='btn-group'>
  <%= f.label :region, 'State' %>
  <%= f.select :region, Geography::STATES, :include_blank => '--', class: "btn btn-default dropdown-toggle" %>
</div>
<div class="input-group" id='bicycle-us-zip'>
  <span class="input-group-addon">Zip Code</span>
  <%= f.text_field :postal_code, placeholder: 'Zip/Postal Code', class: "form-control" %>
</div>
